THENEWSAPI_KEY=
NEWSAPI_KEY=
GNEWS_API_KEY=
NEWSDATA_API_KEY=
CURRENTS_API_KEY=
FREENEWSAPI_KEY=
GUARDIAN_API_KEY=
NYT_API_KEY=
EVENT_REGISTRY_API_KEY=
DATABASE_URL=postgresql://postgres:your_password@localhost:5432/postgres